# Ignore everything at the top level by default
/*

# Except these
!.gitignore
!SIS_Revision/
!Latex_Manuscript/

# Within Latex_Manuscript, only track two files
/Latex_Manuscript/*
!/Latex_Manuscript/sn-article.tex
!/Latex_Manuscript/references.bib

# Within SIS_Revision, exclude generated/env folders
/SIS_Revision/venv/
/SIS_Revision/figures/
/SIS_Revision/data/
/SIS_Revision/networks/graphs/

# Python cache everywhere
**/__pycache__/
**/*.pyc
**/*.pyo
